<!DOCTYPE html>
<html>
<head>
  <title><%=blocks.title%></title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="/css/app.css">
  <!-- <link rel="stylesheet" type="text/css" href="/css/style.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
  <script src="https://use.fontawesome.com/9fa2a3ada4.js"></script>
  <script src="/js/main.js"></script> 
</head>
<body>
<header>
  <%-blocks.header%>
</header>
<section class="container">

  <%-partial('../partials/topNavigation')%>

  <h1><%=blocks.title%></h1>

  <%-body -%>
</section>
<footer>
  <%-blocks.footer%>
</footer>
</body>
</html>

